* {
	box-sizing: border-box;
	color: white;
}

body {
	background: rgb(0,0,5);
}

#nav {
	font-size: 1.25rem;
	display: flex;
	flex-flow: row wrap;
	max-width: 1200px;
	max-height: 3em;
	justify-content: center;
	margin: 0 auto;
	padding: 0 auto px;
}

#nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	list-style: none;
}

#nav ul a {
	text-decoration: none;
}
	
/*this underline wins out in the conflict and overrides the text-decoration:
 * none above. It needs to have #nav ul to win the conflict.*/
#nav ul a:hover {
	text-decoration: underline;
}
	
.main-text-box {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
	
