* {
	box-sizing: border-box;
	color: #9bafbf;
}

body {
	background: #121212;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
}

#nav {
	font-size: 1.25rem;
	display: flex;
	flex-flow: row wrap;
	max-width: 1200px;
	max-height: 3em;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

#nav ul {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
}

#nav a {
	display: block;
	text-decoration: none;
	padding: 1em;
	padding-top: 0em;
	color: #96b4af
}
	
/*this underline wins out in the conflict and overrides the text-decoration:
 * none above. It needs to have #nav to win the conflict.*/
#nav a:hover {
	text-decoration: underline;
	color: #cae6df;
}
	
.main-text-box {
	max-width: 1000px;
	width: 800px;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: column wrap;
	flex-grow: 1;
	align-items: flex-start;
}

h2 {
	margin-bottom: 0.5em;
	padding-bottom: 0.25em;
	border-bottom: solid;
}

p {
	margin: 0;
}

.descriptor { 
	width: 800px;
	min-height:15%;
	display: flex;
	flex-flow: column wrap;
}

.flex-table{
	display: flex;
}

.flex-table *{
	padding-right: 1em;
}

#posts {
	width: 800px;
	display: flex;
	flex-flow: column wrap;
}

#posts div {
	height: 1.5em;
}

#posts a {
	text-decoration: none;
}

#posts a:hover {
	color: #bdcfdf;
	text-decoration: underline;
}


.color-bg1 {
	background: #161a1a;
}	

.de-margin {
	margin: 0px;
}

.center {
	margin: 0 auto;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer div {
	padding: 0.5em;
	height: 3em;
}

#mypic {
	width: 300px;
	height:300px;
	margin: 3em auto;
	margin-bottom: 0;
	border-color: #161a1a;
	border: solid;
}
