[Desktop Entry]
Encoding=UTF-8
Name=Link to Fate Grand Order Card Generator
Type=Link
URL=https://meguerreroa.github.io/FGO-Card-Generator/fgo.html
Icon=text-html
